<h2>Edit Profile</h2>
<%= form_with url: "/profile/edit_profile", method: :post do |f| %>
    
    <div class="field">
      <%= f.label :profile_pic %><br />
      <%= image_tag(@user.profile_pic_blob, width:'10%') if @user.profile_pic.present? %><br/>
      <%= f.file_field :profile_pic %>
    </div>
    <div class="field">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name,:value=>@user.first_name %>
    </div>
    <div class="field">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name,:value=>@user.last_name %>
    </div>

    <div class="field">
      <%= f.label :mobile %><br />
      <%= f.number_field :mobile,:value=>@user.mobile %>
    </div>
    <div class="field">
      <%= f.label :date_of_birth %><br />
      <%= f.date_field :date_of_birth,:value=>@user.date_of_birth %>
    </div>

    <div class="actions">
      <%= f.submit "Save changes"%>
    </div>

<% end %>